<div class="error-page">
  <div class="error-page__title">
    <img src="../../assets/icons/failed.png" alt="">
  </div>
  <div class="error-page__message">
    <div>
      <h3 class="error-page__message__header">Ooops something went wrong!</h3>
      <span class="error-page__message__text">Please note that there might be couple of reasons why the verification went wrong:</span>
    </div>
    <div class="error-page__error-point">
      <span class="error-page__bullet"></span><span>Your picture is blured</span>
    </div>
    <div class="error-page__error-point">
      <span class="error-page__bullet"></span><span>Your picture is low quality</span>
    </div>
    <div class="error-page__error-point">
      <span class="error-page__bullet"></span><span>You are behind strong light</span>
    </div>
    <div class="error-page__error-point">
      <span class="error-page__bullet"></span><span>There is no enough light</span>
    </div>
    <div>
      <span>Please verify all above and retry</span>
    </div>
    <a class="error-page__back" href="/login-page">Go back to login page</a>
  </div>
</div>
