<div class="error-page">
  <div class="error-page__title">
    <img src="../../assets/icons/not-allowed.png" alt="">
  </div>
  <div class="error-page__message">
    <div>
      <h3 class="error-page__message__header">You are not allowed to enter!</h3>
      <span class="error-page__message__text">It looks like you were not recognized as allowed user.</span>
      <span class="error-page__message__text">You can always retry to login by clicking on the link below.</span>
      <span class="error-page__message__text">Please note that the below circumstances might have ocurred:</span>
    </div>
    <div class="error-page__error-point">
      <span class="error-page__bullet"></span><span>Your picture is blured</span>
    </div>
    <div class="error-page__error-point">
      <span class="error-page__bullet"></span><span>Your picture is low quality</span>
    </div>
    <div class="error-page__error-point">
      <span class="error-page__bullet"></span><span>You are behind strong light</span>
    </div>
    <div class="error-page__error-point">
      <span class="error-page__bullet"></span><span>There is no enough light</span>
    </div>
    <a class="error-page__back" href="/login-page">Go back to login page</a>
  </div>
</div>

